bin/
obj/
.vs/
*.user
*.suo
*.slnx.sqlite
ProjectSettings.json
VSWorkspaceState.json

logs.txt*
*.log

AeroLink.apk
vpn_logs.txt
CHANGES_SUMMARY.md

aerolinkwg-go/amneziawg.exe
aerolinkwg-go/amneziawg-linux
aerolinkwg-go/amnezia-*
aerolinkwg-go/xray*
aerolinkwg-go/*.aar
aerolinkwg-go/*.jar